.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.right_section {
  width: 100%;
  height: 100%;
  display: flex;
}

.left_section {
  width: 100%;
  height: 100%;
  display: flex;
}